*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #232838;
}
section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creat_input{
    padding: 12px 5px;
    font-size: 18px;
    width: 80%;
}
.creat_button{
    padding: 12px 20px;
    background-color: rgb(188, 101, 231);
    border: 1px solid rgb(188, 101, 231);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.creat_button:active{
    border: 1px solid rgb(188, 101, 231);
    box-shadow: 2px 2px 5px 3px #fce4ec;
}
.todo_cinteiner{
    padding: 30px 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.todo_item{
    border: 1px solid gray;
    border-radius: 5px;
    width: 25%;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
.todo_item.done{
    background-color: bisque;
    text-decoration: line-through;
    color: #757575;
}
.todo_item.done h4, .todo_item.done p, .todo_item.done span{
    color: #757575;
}
.todo_item.done img{
    opacity: 0.5;
}
.todo_item.marked{
    background-color: rgb(245, 220, 80);
    border: 2px solid rgb(245, 220, 80);
}
.todo_item_header{
    display: flex;
    align-items: center;
    min-height: 35px;
}
.todo_item_header h4{
    font-size: 18px;
    font-family: sans-serif;
}
.todo_item_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.todo_item_footer p{
    font-size: 15px;
    font-family: sans-serif;
}
.todo_item_footer.action_buttons{
    display: flex;
}
.todo_item_footer img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}