<html>
    <head>
        <title>1</title>
    </head>
    <body>
        <p align="justify"> 
        <h2><center><b>Что такое локальная сеть</b> </center></h2>
           <p align="center">
           <center> Локальная сеть – это сеть, созданная для объединения в рабочие группы до нескольких десятков, сотен компьютеров в рамках одной организации.
            Например, учебные заведения, частные компании, офисы, жилые дома.</center></p>
 
         <h2> <center>Что нужно для организации локальных сетей (ЛВС)</center></h2>
            <p align="left">Компьютер должен обладать сетевым адаптером или сетевой картой, который устанавливается на слот расширения материнской платы (или пользоваться материнской платой со встроенным адаптером). 
             Физическое соединение компьютеров осуществляется с помощью различных сетевых кабелей (коаксиальный кабель, витая пара, оптоволоконный кабель и др.).
             Скорость передачи данных в современных локальных сетях колеблется в диапазоне от 10 Мбит/с до 1 Гбит/с.</p> 
            <p align="right">
            Локальная компьютерная сеть представляет собой совокупность серверов и рабочих станций. 
            Обработка данных в компьютерных сетях распределена обычно между двумя объектами: клиентом и сервером.</p>
        </p>  
        <a href="2.html">Списки</a>     
           
     </body>     
</html>