<html>
    <head>
        <title>2</title>
    </head>
    <body>
        <center><h2>Содержание:</h2></center>
        <ol>
        <li> Однораговая сеть </li>
        <li> Многораговая сеть </li>
        </ol>
            <p>
            <ul>
                <li>Минусы и плюсы сетей</li>
                <li>Топология (ЛВС)</li>
            </ul>
           </p>
           <a href="1.html"><-Назад</a>
           <p align="right">
           <a href="3.html">Далее</a></p>
     </body>       
</html>
