<html>
    <head>
        <title>3</title>
    </head>
    <body>
        <table border="1">
        <tr>
            <td>Локальная сеть </td>
            <td><a href="1.html">текст</a></td>
        </tr>
        <tr>
            <td>Список</td>
            <td><a href="2.html">Содержание</a></td>
        </tr>
        <tr>
            <td>Однораговая сеть</td>
            <td><img src="Рисунок1.jpg">Рисунок1</td>
        </tr>
        <tr>
            <td>Многораговая сеть</td>
            <td><img src="Рисунок2.jpg">Рисунок2</td>
        </tr>
        <tr>
            <td>Топология (ЛВС)</td>
            <td><img src="Рисунок3.jpg">Рисунок3</td>
        </tr>
        </table>
        <a href="1.html">На главную</a>
    </body>
</html>