<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/checkbox.css">
</head>
<body>
    <section>
        <div class="creat_conteiner">
            <input class="creat_input" type="text" placeholder="Новая задача">
            <button class="creat_button">Добавить</button>
        </div>
        <div class="todo_conteiner">
            <div class="todo_item"> 
                <div class="todo_item_header">
                    <label class="checkbox_conteiner">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>22.01.2020 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icon/white-star-vector-icon-260nw-691103914.jpg">
                        <img src="./icon/trash--v1(3).png">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_conteiner">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>22.01.2020 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icon/white-star-vector-icon-260nw-691103914.jpg">
                        <img src="./icon/trash--v1(3).png">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_conteiner">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>22.01.2020 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icon/white-star-vector-icon-260nw-691103914.jpg">
                        <img src="./icon/trash--v1(3).png">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_conteiner">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>22.01.2020 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icon/white-star-vector-icon-260nw-691103914.jpg">
                        <img src="./icon/trash--v1(3).png">
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_conteiner">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>22.01.2020 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icon/white-star-vector-icon-260nw-691103914.jpg">
                        <img src="./icon/trash--v1(3).png">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_conteiner">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>22.01.2020 <span>19:00</span></p>
                    <div class="action_buttons">
                        <img src="./icon/white-star-vector-icon-260nw-691103914.jpg">
                        <img src="./icon/trash--v1(3).png">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>